.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.input__text{
  font-size: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
}
.input__btn{
  font-size: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: blue;
  outline: none;
}
.container{
max-width: 1000px;
        margin: 0 auto;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      .chat__form{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
      }
    .auhor__text{
      font-size: 25px;
      color: #FF9800;
     
    }
    .chat__text{
      font-size: 20px;
      padding: 0;
      margin: 5px;
        } 
    .root{
         display: flex;
       }
  .chat__link{
    text-decoration: none;
    color: #FF9800;
    display: block;
    width: inherit;
  }
  .chat__link:hover{
    color:#0098FF
  }
  .menu__link{
    text-decoration: none;
    color: #FF9800;
    font-weight: bold;
    font-size: 20px;
   
  }
  .menu__link:hover{
    color:#0098FF
  }
ul{
  list-style: none;
  display: flex;  
  
}
li{
  margin-right: 50px;
}